APP_ENV=dev
APP_SECRET=replace-with-a-local-secret
DATABASE_URL="mysql://root:@127.0.0.1:3307/netflixmoi?serverVersion=8.0.32&charset=utf8mb4"
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
MAILER_DSN=null://null